@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background-primary: #F4F4F4;
  /* Primary background color */

}

@layer base {

  html,
  body,
  main {
      @apply font-inter;
  }

  
  /* ... */
}

body {
  color: var(--foreground);
  background-color: var(--background-primary);
  font-family: var(--font-inter);
  /* Apply Inter font globally */
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 311px calc(100% - 311px);
}

.layout-container {
  width: 100%;
  margin: 0 auto;
  max-width: 1240px;


}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .modal-container {
    width: 100%;
    max-width: 421px;
    margin: 0 auto;
    padding: 15px 15px;


  }

  .wrapper {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 311px calc(100% - 311px);
  }

  .layout-container {
    width: 100%;
    margin: 0 auto;
    max-width: 1240px;
  }
}